%link(rel="stylesheet" type="text/css" href="../style.css")

%h2 Do you really want to buy this item:
%p #{itemToBuy.to_s}

%form(action="/bought/#{itemToBuy}" method="POST")
   %input(type="radio" name="Yes") Yes
   %input(type="radio" name="No") No
   %input(type="submit" text="submit")


%a{:href => "/logout"} Logout
%a{:href => "/"} Back

%hr
Time: #{time.strftime("%H:%M:%S")}